body {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

select {
    margin-left: 1em;
    margin-right: 1em;
}

div {
    position: relative;
    height: 40vh;
    width: 80vw
}